@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");
@import "reset.css";
@import "status-bar.css";
@import "header.css";
@import "nav-bar.css";

body {
  background-color: white;
  padding: 10px 20px;
  color: black;
  font-family: "Roboto";
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
}
